_rss/portalNoticias.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="item">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="link" type="xs:anyURI"/>      
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
