_rss/portalNoticias.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified">-->
    <xs:element name="noticia">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="title"/>
                <xs:element type="xs:string" name="description"/>
                <xs:element type="xs:anyURI" name="link"/>               
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
